#homepage{
  background-color: $primary_color;
  font-family: $font;
  p{
    color: cadetblue;
    span{
      color: brown;
    }
  }
  form{
    input{
      &:nth-child(2n){
        @include form-input(100px);
      }
      &[type="submit"]{
        @include form-submit();
      }
    }
  }
}